@model IList<MLL.FormaPagamento>

@{
    ViewBag.Title = "Formas Pagamento Cadastrados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <div class="card-panel">
            <h4 class="header2">Listagem Formas de Pagamento</h4>
            <br />
            <div class="row">
                <form class="col s12">

                    <a class="btn waves-effect waves-light blue" id="novo" onclick="Novo()">
                        Novo
                        <i class="material-icons right">library_add</i>
                    </a>

                    <div id="data-table-simple_wrapper" class="dataTables_wrapper">

                        <table class="responsive-table display dataTable" id="gridFormasPagamento" role="grid" cellspacing="0" aria-describedby="data-table-simple_info">

                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" aria-controls="data-table-simple" style="width:380px;" aria-sort="ascending" rowspan="1" colspan="1">
                                        Descrição
                                    </th>
                                    <th class="sorting" aria-controls="data-table-simple" style="width:104px;" rowspan="1" colspan="1">
                                        Editar
                                    </th>
                                    <th class="sorting" aria-controls="data-table-simple" style="width:104px;" rowspan="1" colspan="1">
                                        Excluir
                                    </th>
                                </tr>
                            </thead>

                            <tfoot>

                            </tfoot>

                            <tbody>

                                @if (Model.Count != 0)
                                {
                                    foreach (MLL.FormaPagamento forma in Model)
                                    {
                                        <tr class="odd" role="row">
                                            <td class="sorting_1">
                                                @forma.Descricao_Forma_Pagamento
                                            </td>
                                            <td>
                                                <a href="#" onclick='Editar("@Server.UrlEncode(forma.CodigoCript)")' style="color:black;"><i class="material-icons">mode_edit</i></a>
                                            </td>
                                            <td>
                                                <a href="#" onclick='Excluir("@forma.Codigo_Forma_Pagamento")' style="color:black"><i class="material-icons">delete</i></a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        MostrarMensagem();
        $('#gridFormasPagamento').DataTable({
            responsive: true,
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecord": "Nenhum registro encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_ <br> Total: _MAX_",
                "infoEmpty": "Não foram encontrados registros",
                "infoFiltered": "(Filtro realizado em _MAX_ total usuários",
                "search": "Pesquisar",
                "oPaginate": {
                    "sFirst": "Primeira página",
                    "sPrevious": "<<",
                    "sNext": ">>",
                    "sLast": "Última página"
                }

            }
        });

    });


    function MostrarMensagem() {
        var msg = '@Html.Raw(Request.QueryString["sucesso"])';


        if (msg == 'cadastro') {
            swal({
                title: "Cadastro",
                text: "Forma de Pagamento cadastrado com sucesso",
                type: "success",
                timer: 4000,
                showConfirmButton: false
            });
        } else if (msg == 'edita') {
            swal({
                title: "Edição",
                text: "Forma de Pagamento atualizado com sucesso",
                type: "success",
                timer: 4000,
                showConfirmButton: false
            });
        } else if (msg == 'exclui') {
            swal({
                title: "Excluir",
                text: "Forma de Pagamento excluído com sucesso",
                type: "success",
                timer: 4000,
                showConfirmButton: false
            });
        }
        
    }


    function Novo() {
        window.location.href = '@Url.Action("CadastrarFormaPagamento","CadastroGeral")';
    }

    function Editar(id) {
        window.location.href = '@Url.Action("EditarFormaPag","CadastroGeral")?codigo=' + id;
    }

    function Excluir(id) {

        swal({
            title: "Deseja excluir a forma de pagamento?",
            text: "É possível excluir a forma de pagamento",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Sim",
            cancelButtonText: "Não",
            closeOnConfirm: false,
            closeOnCancel: false
        },

            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ExcluirFormaPagamento","CadastroGeral")',
                        data: {
                            codigo: id
                        },
                        success: function (data) {
                            if (data == "ok") {
                                window.location.href = '@Url.Action("FormasPagamentoCadastrados","CadastroGeral")?sucesso=exclui';
                            } else {
                                swal("Erro", "Erro ao excluir a forma de pagamento", "error");
                            }
                        }
                    });
                }
                else {
                    swal("Cancelado", "Exclusão Cancelada", "error");
                }
            });
    }


</script>